<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3-kurs va 3-kursdan yuqori talabalar</title>
</head>
<body>
<h1>Talabalar</h1>
   <ul class="task">
        {% for course in courses %}
            <li>
                <a class="course-link" href="/students/course_3/{{student.id}}/">
                  {{ forloop.counter }}. {{ course.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

<a href="/students/"><button>Ortga</button></a>

</body>
</html>